<div class="container">
  <h2>{{ usersShow.user.username }}'s profile</h2>
  <p class="caps">{{ usersShow.user.username }} has uploaded <strong>{{ filtered.length }}</strong> posts</p>
</div>
<h2></h2>
  <div class="container" id="user_posts">
    <div ng-repeat="post in usersShow.user.posts | filter:query as filtered" class="post">
      <img ui-sref="postsShow({id: post.id})" src="{{ post.image_src }}">
      <div class="overlay">
        <h3>{{ post.title }}</h3>
      </div>
    </div>
  </div>
