<div class="row login">
  <p style="margin: 20px;"></p>
  <div class="col-md-6">
    <form ng-submit="auth.login()">
      <div class="md-form">
        <label >Email</label>
        <input type="text" ng-model="auth.credentials.email" id="materialFormLoginEmailEx" class="form-control">
      </div>

      <div  class="md-form">
        <label>Password</label>
        <input type="password" ng-model="auth.credentials.password" id="materialFormLoginPasswordEx" class="form-control">
      </div>

      <button class="btn btn-default">Login</button>
    </form>
  </div>
</div>
<!-- Material form login -->
