<!DOCTYPE html>
<html ng-app="blog">
<base href="/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Badmasher</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Quicksand:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/5f27a000c4.js"></script>
  </head>
  <body ng-controller="MainCtrl as main">
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
          <ul class="nav navbar-nav">
            <li><a ui-sref="postsIndex">Home</a></li>
            <li ng-if="main.isAuthenticated()"><a ui-sref="postsNew">Upload a post</a></li>
            <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUser.id})">Your Profile</a></li>
            <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
            <!-- <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li> -->
            <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
            <li><a ui-sref="about">About</a></li>
          </ul>
        </div>
      </nav>
      <div class="wavy-line small"></div>
    </header>

    <main ui-view></main>

  </body>
</html>
