// Import all of your scss files here
body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-size: 16px;
}

a {
  color: #F89406;
  cursor: pointer;
}

textarea,
.post-body {
  white-space: pre-wrap;
}

label,
input,
textarea {
  display: block;
  margin-left: 20px;
  width: 500px;
}

label {
  margin-top: 30px;
}

button {
  margin: 20px;
  background: #fff;
  border: solid 1px #222;
  padding: 10px;
}

form {
  margin-top: 10px !important;
}

.navbar {
  border: none;
  outline: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-size: 24px;
    font-weight: 300;
    border: none;
    outline: none;
}

.navbar .navbar-collapse {
    text-align: center;
    background: #fff;
    border: none;
    outline: none;
}

.navbar-default .navbar-nav > li > a {
  color: #222;
}

.navbar-default .navbar-nav > li > .login {
  float: right;
}

@mixin make-wavy-line($size, $thickness, $color) {
    $spacing: $size / 1;
    $color-begin: $spacing - $thickness / 1;
    $color-end: $spacing + $thickness / 1;

    height: $size;
    background:
        linear-gradient(45deg,
            transparent $color-begin,
            $color $color-begin,
            $color $color-end,
            transparent $color-end
        ),
        linear-gradient(135deg,
            transparent $color-begin,
            $color $color-begin,
            $color $color-end,
            transparent $color-end
        ) $size 0;
    background-size: $size * 2 $size;
}

.small {
    @include make-wavy-line(15px, 1px, #F89406);
    margin-top: -20px;
}

.post-main {
  h1 {
    text-align: center;
    font-size: 120px;
    letter-spacing: 5px;
  }
}

.image {
  min-width: 100%;
  height: 300px;
}

.post-container {
  max-width: 78%;
}

.show-container {
  max-width: 700px;
  margin: 20px auto;
  img {
    width: 50%;
    float: left;
    margin: 0 10px 2px 0;
  }
  p {
    text-align: justify;
  }
}

.post {
  padding: 20px;
  width: 33%;
  height: 520px;
  float: left;
  img {
    width: 100%;
  }
}

.show-hide {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: rgba(255, 255, 255,0.8);
  text-align: center;
  a {
    margin: 5px 10px;
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile-label {
    background: #222;
    width: 131px;
    padding: 14px;
    text-align: center;
    color: #fff;
    border: solid 5px rgba(0, 0, 0, 0.1);
    &:hover {
      cursor: pointer;
    }
}

iframe {
  position: absolute;
  top:32%;
  right: 1%;
  float: right;
  height: 510px;
}
